html{
    scroll-snap-type: y mandatory;

}
.app__videos{
    position: relative;
    height: 800px;
    overflow: scroll;
    width: 80%;
    border-radius: 20px;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}

.app {
    background-color: black;
    color: white;
    height: 100vh;

    /* centers the app */
    display: grid;
    place-items: center;


}

.app__videos::-webkit-scrollbar{
    display: none;
}

.app__videos{
    -ms-overflow-style: none;
    scrollbar-width: none;
}